<div class="gave-up my-2">
  <p class="font-bold text-2xl my-2">My word is:</p>
  <div class="flex">
    <% word = solution.answer %>
    <% link = "https://duckduckgo.com/?q=#{word}&ia=definition" %>

    <p class="text-xl italic flex-auto mb-2 underline"><%= word %></p>
    <%= link_to '(definition)', link, class: "mb-2 text-xl flex-auto underline text-blue-700" %>
  </div>
  <p class="font-bold text-xl my-2">better luck tomorrow!</p>
  <%= link_to 'View leaderboard', solutions_path, class: "underline text-blue-700 ml-36" %>
</div>
