<p class="px-3">I'm thinking of an English word that you'll be lucky to have ever heard of. Make guesses below and I'll tell you if my word is alphabetically before or after your guess.</p>
<p class="px-3">...and remember, there's no shame in giving up.</p>

