<p class="px-3">I'm thinking of a word (not) commonly used in the English language, whether organically developed or brazenly borrowed. Make guesses below and I'll tell you if my word is alphabetically before or after your guess.</p>
<p class="px-3 mt-3 text-xs">...and remember, there's no shame in giving up.</p>

<p class="date px-3 mt-4 text-sm font-bold">🧩 Puzzle for <%= Date.current %></p>

