<div class="leaderboard-name-value basis-40 text-center"><%= solution.guesser_name %></div>
<div class="leaderboard-guesses-value basis-30 text-center"><%= solution.guess_count %></div>
<div class="leaderboard-time-value basis-30 text-center"><%= solution.format_elapsed_time %></div>
