<% content_for :title, "Can't Guess My Word Leaderboard" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h3 class="font-bold text-xl ml-2 mt-3"><%= "Leaderboard for #{Date.current}" %></h3>
  </div>

  <div id="solutions" class="leaderboard min-w-full divide-y divide-gray-200 space-y-5">
    <% if @solutions.any? %>
      <div class="leaderboard-header font-bold flex">
        <div class="leaderboard-name basis-40 text-center">Name</div>
        <div class="leaderboard-guesses basis-30 text-center">Guesses</div>
        <div class="leaderboard-time basis-30 text-center">Time</div>
      </div>
      <% @solutions.each do |solution| %>
        <div class="flex row">
          <%= render 'solution_score', solution: solution %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No scores yet.</p>
    <% end %>
  </div>
</div>
