<% content_for :title, "Can't Guess My Word" %>

<%= render 'header_taunt' %>
<div class="w-full flex mt-6">
  <label class="w-36 relative self-end" id="spacing-label"></label>
  <%= render "new_form", solution: @solution %>
</div>
